<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Instant Discourse (alpha)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="en-us">
        <link href="{{ static_scheme_netloc }}/custom.css" rel="stylesheet" type="text/css">
        <link href="{{ static_scheme_netloc }}/skeleton/skeleton.css" rel="stylesheet" type="text/css">
        <link href="{{ static_scheme_netloc }}/skeleton/normalize.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="container" id="wrapper">
            <p>
            Instant Discourse is a psuedo-anonymous chat site optimized for real conversation.
            </p>
        </div>
    </body>
</html>
